<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORS Proxy Response</title>
</head>
<body>
    <h3>JSON results</h3>
    <pre>
        <%= data %>
    </pre>
</body>
</html>